* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg?semt=ais_hybrid&w=740);
    background-size:cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    height: auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 100px;
margin-left: 1rem;
    height: 100px;
}

nav {
    
    color: #333;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    margin-right: 5rem;
   
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #080808;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
}

h1 {
    margin-top: 2rem;
    font-size: 1.6rem;
}
p{
    font-size: 1rem;
}
